<div class="container">
<h1><%= @post.title %></h1>
<p><%= @post.body %></p>

<hr>

<%= link_to 'Edit', edit_post_path(@post) if policy(Post).edit? %>
<%= link_to 'Destroy', post_path(@post), method: :delete, data: { confirm: 'Are you sure?' } if policy(Post).destroy?%>

<hr>

<%= render 'comments/comments' %>
<%= render 'comments/form' %>
</div>
